<div nz-row nzJustify="center">
  <div nz-col nzSpan="2" [nzLg]="{offset:1}">Reset</div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}">Hover</div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}">Pressed</div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}">Disabled</div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}">Focus</div>

</div>
<!-- 1st row -->
<div nz-row nzJustify="center">
  <div nz-col [ngStyle]="{color:'#394892'}" nzSpan="2" [nzLg]="{offset:1}"><button nzSize="large" nz-button
      nzType="primary" nzShape="round"><span nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="large" nz-button nzType="primary" nzShape="round"><span
        nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="large" ant-cl nz-button nzType="primary"
      nzShape="round"><span nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="large" disabled nz-button nzType="primary"
      nzShape="round"><span nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="large" nz-button nzType="dashed" nzShape="round"><span
        nz-icon nzType="star"></span> Button </button>
  </div>

</div>
<!-- 2nd row -->
<div nz-row nzJustify="center">
  <div nz-col [ngStyle]="{color:'#394892'}" nzSpan="2" [nzLg]="{offset:1}"><button nzSize="large" nz-button
      nzType="default" nzShape="round"><span nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="large" nz-button nzType="default" nzShape="round"><span
        nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="large" ant-cl nz-button nzType="default"
      nzShape="round"><span nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="large" disabled nz-button nzType="default"
      nzShape="round"><span nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="large" nz-button nzType="dashed" nzShape="round"><span
        nz-icon nzType="star"></span> Button </button>
  </div>

</div>
<div nz-row nzJustify="center">
  <div nz-col [ngStyle]="{color:'#394892'}" nzSpan="2" [nzLg]="{offset:1}"><button nzSize="small" nz-button
      nzType="primary" nzShape="round"><span nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="small" nz-button nzType="primary" nzShape="round"><span
        nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="small" ant-cl nz-button nzType="primary"
      nzShape="round"><span nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="small" disabled nz-button nzType="primary"
      nzShape="round"><span nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="small" nz-button nzType="dashed" nzShape="round"><span
        nz-icon nzType="star"></span> Button </button>
  </div>

</div>
<div nz-row nzJustify="center">
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="small" nz-button nzType="primary" nzShape="round"><span
        nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="small" nz-button nzType="primary" nzShape="round"><span
        nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="small" ant-cl nz-button nzType="primary"
      nzShape="round"><span nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="small" disabled nz-button nzType="primary"
      nzShape="round"><span nz-icon nzType="star"></span> Button </button>
  </div>
  <div nz-col nzSpan="2" [nzLg]="{offset:1}"><button nzSize="small" nz-button nzType="dashed" nzShape="round"><span
        nz-icon nzType="star"></span> Button </button>
  </div>

</div>