[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

  .btnColor{
    background: #3F4FA0;
  }
  .grayColor{
    background: #ECEDF6
    ;
  }

  .pressedButton{
    border-style: inset;
  }